/* Pre styles for site */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Primary button styles */
.primary-btn{
    padding: 10px 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;

    background-color: #FD6E0A;
    color: #FFFFFF;
    
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s all ease;
}
.primary-btn:hover{
    border: 1px solid #FD6E0A;
    background-color: #ffede0;
    color: #FD6E0A;
}
/* Secondary button styles */
.secondary-btn{
    padding: 10px 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;

    background-color: #ffede0;
    color: #FD6E0A;
    
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s all ease;
}
.secondary-btn:hover{
    border: 1px solid #FD6E0A;
    background-color: #FD6E0A;
    color: #FFFFFF;
}

/* Header styles */
#header{
    background-color: #FFF8F3;
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
}
.header-logo{
    font-weight: 800;
    font-size: 45px;
}
.header-logo a{
    text-decoration: none;
    color: #181818;
}

/* Nav styles */
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px;
}
#nav ul{
    display: flex;
    align-items: center;
}
#nav li{
    list-style-type: none;
    margin-right: 15px;
}
#nav li:last-child{
    list-style-type: none;
    margin-right: 0px;
}
#nav li a{
    text-decoration: none;
    color: #474747;
    padding: 10px 15px;
}

/* Header Banner styles */
#header-banner{
    display: flex;
    align-items: center;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 0px 30px 0px 230px;
}
.header-banner-content{
    width: 500px;
}
.header-banner-tittle{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.header-banner-main{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 10px;
}
.header-banner-desc{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 30px;
}
.header-banner-image{
    width: 500px;
}


/* Main section styles starts from here */
#main{
    max-width: 1040px;
    margin: 0 auto;
}

/* About me section styles */
.about-me{
    margin: 80px 0px;
    padding: 130px 150px;
    text-align: center;
    background-color: #FFF8F3;
}
.about-me .about-tittle{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.about-me .about-desc{
    margin: 20px 0px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.my-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.details-tittle{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.details-desc{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}


/* What I do part styles */
.whatIdo{
    text-align: center;
    width: 900px;
    margin: 0 auto;
}
.whatIdo-tittle{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.whatIdo-desc{
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

/* Technologies part styles */
.technologies{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.tech-card{
    margin-right: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tech-card:last-child{
    margin-right: 0px;
}
.card-tittle{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}
.card-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}

/* Resume section styles */
.resume{
    margin: 100px 0px;
}
.resume-tittle{
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.edu-exp{
    display: flex;
    align-items: center;
}
.edu-part{
    margin-right: 30px;
}
.education-tittle, .experience-tittle{
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.edu-degree, .exp-role{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.edu-uni, .exp-industry{
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.edu-desc, .exp-desc{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
hr{
    margin: 30px 0px;
}
#cv-btn{
    margin: 40px auto;
    display: flex;
    align-items: center;
}